<p>List of all players</p>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <%= form_tag("/game", :method => "post") do %>
  <% @players.each do |p| %>
    <tr>
      <td><%= check_box_tag('players[]', p.id) %>
        <%= label_tag(p.id, p.name)%></td>
    </tr>
  <% end %>
</table>
<%= submit_tag("Start Game") %>
<% end %>

<p>Log in</p>
<%= form_tag("/login", :method => "post") do %>
  <%= label_tag(:name, "Name:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Login") %>
<% end %>

<%= link_to "logout", "logout" %>
